/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #e09, #d0e);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

p {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.signup-btn {
    width: 100%;
    margin-top: 10px;
}

.social-login button {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.social-login button:hover {
    background-color: #f0f0f0;
}

#login-link {
    color: #007BFF;
    text-decoration: none;
}

#login-link:hover {
    text-decoration: underline;
}

.google-login {
    background-color: #DB4437;
    color: white;
}

.facebook-login {
    background-color: #3b5998;
    color: white;
}

.twitter-login {
    background-color: #1da1f2;
    color: white;
}
